{% extends 'base.html.twig' %}

{% block body %}
  <h1>
    Coucou les amis
  </h1>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet sequi
    harum accusantium distinctio deserunt commodi tenetur, cupiditate cum
    consequatur qui sapiente et aspernatur aliquid. Dolores sapiente, neque
    officia ratione odit explicabo maxime voluptate earum cupiditate ad
    repellendus enim exercitationem mollitia.
  </p>
  <p>
    Repellendus consequuntur eaque temporibus dignissimos labore vitae esse ad
    quia, officiis impedit enim asperiores molestias atque eius animi ut est
    ipsum. Cum, doloremque sed est voluptatibus repudiandae vitae blanditiis,
    ratione nemo quos tempore facere. Ipsa doloremque ipsam animi? Eveniet, id.
  </p>
  <p>
    Vel dolores ad perferendis laborum, amet nisi? Nesciunt ducimus aliquam
    commodi expedita pariatur voluptatibus sapiente optio in quaerat error
    dolore quibusdam consequuntur totam fugit assumenda beatae debitis
    blanditiis, quo nam? Iure illum molestias corrupti voluptatem deserunt, sint
    facilis! Blanditiis, nam.
  </p>
  <p>
    Ratione facilis assumenda sed ea voluptates fugiat quaerat velit accusantium
    animi nobis saepe tempore possimus expedita quidem vitae qui dignissimos
    accusamus, sapiente, ipsum quas inventore! Cumque accusantium, fuga maiores
    voluptate delectus quos laborum numquam nostrum rerum dolores! Excepturi,
    obcaecati dolorem?
  </p>
{% endblock %}
