<div class="col-md-6 col-lg-4">
	<div class="card mb-4 ">
		<img class="card-img-top" src="" alt="" id="js-figPic">
		<div class="card-body">
			<h5 class="card-title" id="js-figTitle">
				<a href=""></a>
			</h5>
			<p class="card-text" id="js-figText"></p>
			<a href="{{ path('trick_show', { id: figure.id } ) }}" class="btn btn-primary btn-lg">Voir</a>
		</div>
	</div>
</div>
