{% extends 'base.html.twig' %}

{% form_theme passwordForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Réinitialisation mot de passe
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row justify-content-center registration_form">
			<div class="col-lg-6 ">
				<h1>Réinitialisation mot de passe</h1>

				{{ form_start(passwordForm) }}
				{{ form_row(passwordForm.password, {'label': 'Mot de passe',  'attr': {'placeholder' :'Veuillez entrer mot de passe ...'} }) }}
				{{ form_row(passwordForm.confirm_password, {'label': 'Confirmation de mot de passe',  'attr': {'placeholder' :'Veuillez confirmer votre mot de passe ...'} }) }}
				<button type="submit" class="btn btn-success">Envoyer</button>
				{{ form_end(passwordForm) }}
			</div>
		</div>
	</div>


{% endblock %}
