{% extends "base.html.twig" %}

{% block title %}Nouveau mot de passe
{% endblock %}

<div class="container mt4">
	<div class="row justify-content-center">
		<div class="col-lg-6 login_form">
			{% block body %}
				<h1>Entrez votre mot de passe</h1>
				<form method="post">
					<label for="pass">Mot de passe</label>
					<input type="password" name="password" id="pass">
					<input type="hidden" name="token" value="{{ token }}">
					<button>Valider</button>
				</form>
			{% endblock %}
		</div>
	</div>
</div>
