.jumbotron {
  background-image: cover;
  width: 100%;
  height: 85vh;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttonMenu {
  position: relative;
  top: -61%;
  right: -47%;
}

.editButtonMenu {
  position: relative;
  top: -56%;
  right: -47%;
}


.alert {
  padding: 0 0 0 0;
}

.meta {
  border: 1px solid black;
  height: 3rem;
}

img.card-img-top:hover {opacity: 0.7;}

.centering {
  text-align: center;
}

.login_form,
.registration_form {
  margin-top: 5em;
  margin-bottom: 15em;
}

.card-body {
  min-height: 92px;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.toto {
  margin-top: 95px;
  margin-bottom: 50px;
  min-height: 720px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.media-container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.media-container a {
  width: 5em;
  display: flex;
  justify-content: center;
}

.picture-thumbs {
  display: flex;
  flex-wrap: wrap;
}

.img-thumbnail {
  min-height: 13rem;
  margin: 2rem;
}

img {
  object-fit: contain;
  width: 150px;
}

table {
  height: 510px;
}

tr {
  height: 85px;
  overflow-y: auto;
  overflow-x: hidden;

  justify-content: center;
  text-align: center;
}

th {
  background-color: azure;
}

button {
  margin-right: 5px;
}

.link_blog {
  font-size: 1.7em;
  margin-left: 0.5em;
}

.block-table {
  border: solid;
  border-radius: 32px;
  padding: 1em;
  border-color: #2780e3;
}

.pictures-container,
.videos-container {
  padding: 1% 5% 5% 5%;
  border: 1px solid black;
}

.admin-title {
  font-size: 3em;
  font-weight: bolder;
  background-image: url('../uploads/pictures/Snowboard.png');
  background-size: 10em, contain;
  background-repeat: no-repeat;
  background-position: center;
  color: aliceblue;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 32px;
}

h2 {
  text-align: center;
  font-weight: 700;
  background-color: #ffa700;
  border-radius: 32px;
}

a.btn-scroll {
  font-size: 3em;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

a.scroll-down {
  bottom: 140px;
  right: 11em;
  margin: auto;
  position: absolute;
  padding-top: 400px;
  z-index: 9;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
}

a.scroll-up {
  position: fixed;
  left: 50%;
  bottom: 2.5em;
  -webkit-animation: scroll_up_btn-animation 2s infinite;
  animation: scroll_up_btn-animation 2s infinite;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll_up_btn-animation {
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  40% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_up_btn-animation {
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
}
