<h1>Activation</h1>
<p>Bonjour, Pour valider votre inscription, merci de cliquer sur le lien suivant: </p>
<hr>
<p><a href="{{ absolute_url(path('security_activation', {'token': token})) }}">Activer mon compte</a></p>